@import 'reset';

:root {
  --black: #222723;
  --yellow: #dd991a;
  --blue: #093268;
  --red: #6b1c17;
  --size: 20rem;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  width: 100vw;
  background-image: url(../assets/img/graphy.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.mainnav {
  background-color: var(--black);
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.navlist {
  width: 96rem;
  display: flex;
  justify-content: space-around;
}

.alberto {
  font-family: alberto;
  letter-spacing: .2rem;
}

.navlistitem {
  margin: 1rem;
  width: 15rem;

  & a {
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: .5s;
  }

  & a:hover {
    opacity: .5;
  }
}

.dok-items {
  margin-top: -10rem;
  z-index: -999;
  transition: 1s;
  background-color: var(--black);
  padding: 1rem;
  margin-left: -2rem;
  opacity: 0;
  width: 15rem;
}

.dok-item {
  z-index: -999;
  color: white;
  margin: 1rem 0;
  transition: .5s;

  &:hover {
    opacity: .5;
  }
}

.dokhover {

  &:hover .dok-items {
    opacity: 1;
    margin-top: 0;
  }
}

.dok-nav {
  background-color: var(--black);
  color: white;
  padding: 1rem;
  line-height: 125%;
  position: absolute;
  top: 0;
  z-index: 99;
  margin-top: 0;
  margin-left: 20rem;
}

.hidden {
  display: none;
}

.headerimg {
  background-image: url(../assets/img/desktopheader.png);
  width: 69.4rem;
  height: 77.6rem;

  &::before {
    content: '';
    background-image: url(../assets/img/logolarge.png);
    width: 38.6rem;
    height: 14.5rem;
    position: absolute;
    z-index: 9;
    margin-left: 19rem;
    margin-top: 3rem;
  }

  &::after {
    content: '';
    width: 56rem;
    height: 55rem;
    position: absolute;
    z-index: -2;
    margin-left: 10rem;
    margin-top: 10rem;
    background-color: var(--yellow);
  }
}

.headerdatum {
  position: absolute;
  margin-left: 34rem;
  margin-top: 18rem;
  font-size: 4rem;
  color: var(--black);
}

.description {
  width: 80rem;
  margin-top: -10rem;
}

.datum {
  display: none;
}

.logo {
  display: none;
}

main {
  margin: 0 auto;
  width: 96rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.binnenkort {
  width: 96rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: .1rem solid transparent;
}

.titles {
  font-size: 7rem;
  align-self: flex-start;
}

.agenda-item-main {
  width: 30rem;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  margin: 1rem;
}

.date {
  font-size: 4rem;

  &::after {
    content: '';
    background-image: url(../assets/img/datumbackground.png);
    width: 16.3rem;
    height: 10.8rem;
    position: absolute;
    /* background-size: 60%; */
    background-repeat: no-repeat;
    z-index: -1;
    margin-left: -8rem;
    margin-top: -1rem;
  }
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 2.3rem;
  line-height: 125%;
  text-align: center;
  margin-bottom: 2rem;
}

.agenda-item-image {
  background-image: url(../assets/img/blanco.png);
  width: 30rem;
  overflow: hidden;
}

.agenda-item-description {
  font-size: 2rem;
}

.infobutton {
  color: var(--yellow);
  margin-left: 19rem;
}

.programmabutton {
  background-color: var(--yellow);
  padding: 1rem;
  font-size: 4rem;
  margin: 10rem 2rem 2rem;
  color: var(--black);
  align-self: center;
  transition: .8s;

  &::before {
    content: '';
    background-color: var(--black);
    position: absolute;
    width: 29rem;
    height: 5.9rem;
    z-index: -1;
  }

  &:hover {
    background-color: var(--black);
    color: var(--yellow);
  }

  &::after {
    content: '';
    background-image: url(../assets/img/palms.png);
    width: 12.8rem;
    height: 18.4rem;
    position: absolute;
    z-index: -2;
    margin-left: -27rem;
    margin-top: -13rem;
  }
}

.opdok {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.blue {
  background-color: var(--blue);
}

.black {
  background-color: var(--black);
}

.block {
  width: var(--size);
  height: var(--size);
  margin: 1rem;
  padding: 1rem;
  color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  &::before {
    content: '';
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    background-position: center;
    mix-blend-mode: overlay;
  }

  &:hover::before {
    content: '';
    opacity: 0;
  }

  &:hover .block-description {
    opacity: 1;
  }

  &:hover .block-title {
    opacity: 0;
  }
}

.kantine {

  &::before {
    content: '';
    background-image: url(../assets/img/kantine.jpg);
  }
}

.block-title {
  transition: .7s;
  font-size: 3rem;
}

.block-description {
  width: 20rem;
  padding: .5rem;
  position: absolute;
  opacity: 0;
  font-family: helvetica;
  font-size: 1.6rem;
  top: 0;
  left: 0;
  transition: .7s;
  text-align: left;
}

.box {

  &::before {
    content: '';
    background-image: url(../assets/img/box.jpg);
  }
}

.markt {

  &::before {
    content: '';
    background-image: url(../assets/img/markt.jpg);
  }
}

.strand {

  &::before {
    content: '';
    background-image: url(../assets/img/strand.jpg);
  }
}

.arena {

  &::before {
    content: '';
    background-image: url(../assets/img/arena.jpg);
  }
}

.park {

  &::before {
    content: '';
    background-image: url(../assets/img/park.jpg);
  }
}

.doknieuws {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5rem;
  width: 96rem;
}

.newstext {
  font-size: 2.5rem;
  text-align: left;
  width: 30vw;
}

.input {
  height: 3rem;
  width: 30rem;
}

.inputlabel {
  margin-top: 1rem;
}

.nieuwsbrief {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.sfeerimage {
  width: 30rem;
  height: 30rem;
  border-radius: 15rem;
  background-color: var(--blue);

  &::before {
    content: '';
    background-image: url(../assets/img/collage.png);
    width: 34.1rem;
    height: 31.8rem;
    position: absolute;
    margin-left: -2rem;
    margin-top: -1.9rem;
  }
}

.verstuurbutton {
  display: flex;
  align-self: flex-end;
  background-color: var(--yellow);
  border: none;
  font-size: 3rem;
  margin: 2rem;

  &::before {
    content: '';
    background-color: var(--black);
    position: absolute;
    width: 12rem;
    height: 4.5rem;
    z-index: -1;
  }
}

footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  left: 0;
  width: 100vw;
  color: white;
  line-height: 125%;
  font-size: 2.2rem;
  padding: 1rem;
}

.arrow {
  width: 4.4rem;
  height: 3.9rem;
  border: 1px solid red;
  z-index: 99999999;
}

.footerwrapper {
  width: 96rem;
  display: flex;
  justify-content: space-between;
}

.post {
  text-align: right;
}

.sponsors {
  width: 100%; /* 100vw */
  left: 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navlogo {
  background-image: url(../assets/img/navlogo.png);
  width: 8rem;
  height: 3rem;
}

.agenda {
  width: 96rem;
  display: flex;
  border: 1px solid red;
}

.agendatitle {
  font-size: 7rem;
}

.agenda-button {
  padding: .5rem;
  background-color: var(--blue);
  align-self: center;
}

.agenda-button a {
  color: white;
}

.groteagenda {
  width: 96rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: .1rem solid transparent;
  margin-top: 5rem;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-title-wrapper {
  width: 69rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.detail-title {
  font-size: 4rem;
  z-index: 99;
  background-image: url(../assets/svg/streep.svg);

  /* &::after {
    content: '';
    background-image: url(../assets/svg/streep.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -40.5rem;
    margin-left: -50rem;
    transform: rotate(90deg);
    width: 10rem;
    height: 100%;
    z-index: -1;
  } */
}

.detail-date {
  font-size: 7rem;
  transform: rotate(-15deg);
}

.detail-item-image {
  width: 100%;
}

.detail-description {
  width: 90%;
  margin-top: 3rem;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: left;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
}

input[type='radio']:focus + h2 > label {
  color: white;
}

label {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.reveal {
  height: 0;
  transition: .3s all;
  overflow: hidden;
  color: white;
}

input:checked + h2 + .reveal {
  height: 17rem;
}

.mobile-nav {
  display: none;
  position: fixed;
  left: 5rem;
  top: 5rem;
  background: #1d1f20;
  height: 6rem;
  line-height: 6rem;
}

.hamburger {
  background: none;
  position: fixed;
  top: 0;
  left: 1rem;
  color: var(--black);
  font-size: 5rem;
  cursor: pointer;
  z-index: 10000000000000;
  border: none;
}

.menu {
  z-index: 1000000;
  font-size: 2rem;
  width: 100%;
  height: 0;
  background: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper {
  border: 1px solid red;
}

.mobile-navlistitem {
  margin: 1rem;
  font-size: 5rem;
  letter-spacing: .5rem;

  & a {
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: .5s;
  }

  & a:hover {
    opacity: .5;
  }
}

.search-bar {
  opacity: 0;
  transition: 1s;

  &:hover {
    opacity: 1;
  }
}

.search-wrapper {
  display: flex;
}

.search-icon {
  background-image: url(../assets/img/search.png);
  width: 2.6rem;
  height: 3.6rem;
  transition: 1s;
  margin-top: .7rem;

  &:hover + .search-bar {
    opacity: 1;
  }
}

.opdok-mobile {
  display: none;
}

.main-date {
  font-size: 5rem;
  margin: 1rem;
}

@media (width <= 960px) {

  main {
    width: 65rem;
  }

  .binnenkort {
    width: 65rem;
  }

  .agenda-item-main {
    margin-bottom: 2rem;
  }

  .opdok {
    width: 70rem;
  }

}

@media (width <= 715px) {

  .mainnav {
    display: none;
  }

  .headerimg {
    background-image: url(../assets/img/tabletheader.png);
    width: 53.7rem;
    height: 90.9rem;

    &::before {
      background-image: none;
    }

    &::after {
      width: 48rem;
      height: 66rem;
    }
  }

  .headerdatum {
    display: none;
  }

  .datum {
    display: block;
    font-size: 6rem;
  }

  .logo {
    display: block;
    background-image: url(../assets/img/logolarge.png);
    width: 38.6rem;
    height: 14.5rem;
    margin: 1rem;
  }

  .opdok {
    width: 45rem;
  }

  .sfeerimage {
    display: none;
  }

  .newstext {
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .description {
    width: 90vw;
    padding: 1vw;
  }

  .mobile-nav {
    display: block;
  }
}

@media (width <= 640px) {

  .titles {
    align-self: center;
  }

  .binnenkort {
    width: 32rem;
  }

  @media (width <= 530px) {

    .headerimg {
      background-image: url(../assets/img/mobileheader.png);
      width: 32rem;
      height: 70.4rem;

      &::before {
        background-image: none;
      }

      &::after {
        width: 20rem;
        height: 49.8rem;
      }
    }

    .datum {
      display: none;
    }
  }

  @media (width <= 450px) {

    .opdok {
      display: none;
    }

    .opdok-mobile {
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mobile-block {
      margin: 1rem;
    }

    .inputwrapper {
      display: flex;
      flex-direction: column;
    }

    .input {
      width: 90vw;
    }

    .footerwrapper {
      flex-direction: column;
    }

    .location {
      margin: 1rem;
    }

    .post {
      margin: 1rem;
    }

    .agenda-item-main {
      width: 100vw;
    }

    .agenda-item-image {
      width: 100vw;
      background-size: 100vw;
      background-position: center;
      background-repeat: no-repeat;
    }

    .arrow {
      width: 4.4rem;
      height: 3.9rem;
      border: 1px solid red;
      z-index: 9999999;
    }

  }

}
